/* ==================== CARACTERES ESPECIAIS ==================== */
@charset "UTF-8";

/* ==================== GOOGLE FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');


/* ==================== VARIAVEIS ==================== */
:root {
    /* -------- cores -------- */
    --cor-primaria: #e53935;
    --cor-primaria-dark: #C62828;
    --cor-secundaria: #424242;
    --cor-destaque: #1565c0;
    --cor-destaque-hover: #115098;
    --cor-fundo-geral: #f9fafb;
    --cor-texto-principal: #1e1e1e;
    --cor-cinza: #e5e5e5; 
    --cor-branca: white;

    /* -------- fonte -------- */
    --fonte: 'Poppins', sans-serif;

    /* -------- sombra -------- */
    --sombra: 0 4px 12px rgba(20, 20, 20, 0.06);
}


/* ==================== BARRA DE ROLAGEM LATERAL ==================== */
::-webkit-scrollbar-track {
  background: var(--cor-fundo-geral);
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--cor-primaria);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor-primaria-dark);
}


/* ==================== RESETs e BASE ==================== */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    font-weight: normal;
    font-size: 1em;
    background-color: var(--cor-fundo-geral);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ==================== HEADER ==================== */
header {
    position: relative;
    background-color: #f7f1f3;
    padding: 0px 20px 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    z-index: 1002;
}

header .parte01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .parte01 .logo {
    width: 130px;
}

header .parte02 {
    width: 100%;
    background-color: var(--cor-fundo-geral);
    padding: .75rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

header .parte02 .logo-descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header .parte02 .logo-descricao span {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--cor-primaria);
    width: 44px;
    height: 44px;
    border-radius: 10px;
    color: var(--cor-branca);
    box-shadow: var(--sombra);

    display: flex;
    align-items: center;
    justify-content: center;
}

header .parte02 .logo-descricao h1 {
    font-size: 1.1rem;
    margin-block: 0;
    font-weight: bold;
}

header .parte02 .logo-descricao p {
    font-size: .85rem;
    font-weight: 200;
    color: #333;
}

nav {
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 10001;
}

nav a {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1em;
    color: var(--cor-texto-principal);
    transition: color .4s ease;
}

nav a:hover {
    color: var(--cor-primaria);
}

.agendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.botao-agendar {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    box-shadow: var(--sombra);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.botao-agendar:hover {
    background-color: var(--cor-primaria-dark);
}

.butao-menu-burger, nav #botao-fechar-menu  {
    display: none;
    font-size: 1.5em;
    font-weight: bold;
}

/* -------- Menu fixo quando a tela rolar 130px -------- */
.menu-fixo {
    position: fixed;
    top: 0;
    left: 0;
}


/* ==================== MAIN ==================== */
main {
    position: relative;
    width: 100%;
}

/* ==================== MAIN | CAPA ==================== */
main .capa {
    position: relative;
    height: 785px;
    background-color: var(--cor-secundaria);
    background-image: url('imagens/salao01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .capa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
}

.capa-titulo, .capa-subtitulo, .capa-texto {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: var(--cor-cinza);
    z-index: 1001;    
}

main .capa .capa-titulo {
    font-size: 2.5rem;
    font-weight: 700; 
}

main .capa .capa-subtitulo {
    font-size: 2.3rem;
    font-weight: 200;
    padding-bottom: 2rem;    
}

main .capa .capa-texto {
    text-align: center;
    line-height: 2;
    font-size: 1.2em;
    font-weight: 300;
    width: 90%;
    max-width: 1200px;
    padding-bottom: 5rem;
}

main .capa button {
    z-index: 1001;
}


/* ==================== MAIN | SOBRE ==================== */
main .sobre {
    margin: 2rem;
    text-align: center;
}

main .sobre-titulo {
    font-size: 2rem;
    margin: 3rem 1rem 2rem;
    font-weight: 700;
}

main .sobre-titulo::after {
    content: '';
    display: block;
    background-color: var(--cor-primaria);
    width: 50px;
    height: 4px;
    margin: auto;
}

main .sobre-texto {
    max-width: 1100px;
    margin: auto;
    font-size: 1.1em;
    line-height: 2;
    color: var(--cor-texto-principal);
}

main .sobre button {
    margin: 1.5rem auto 4rem;
}


/* ==================== MAIN | SERVICOS ==================== */
main .servicos {
    margin: 2rem;
    text-align: center;
}

main .servicos-titulo {
    font-size: 2rem;
    margin: 3rem 1rem 2rem;
    font-weight: 700;
}

main .servicos-titulo::after {
    content: '';
    display: block;
    background-color: var(--cor-primaria);
    width: 50px;
    height: 4px;
    margin: auto;
}
main .servicos table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
}
main .servicos table, th, td {
    border: 1px solid var(--cor-cinza);
    padding: 10px;
    text-align: left;
}
main .servicos th {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
}
main .servicos td {
    background-color: var(--cor-branca);
    color: var(--cor-texto-principal);
}
main .servicos td.nr {
    text-align: right;
}

/* ==================== MAIN | PORTFOLIO ==================== */
main .portfolio {
    margin: 2rem;
    text-align: center;
}

main .portfolio-titulo {
    font-size: 2rem;
    margin: 3rem 1rem 2rem;
    font-weight: 700;
}

main .portfolio-titulo::after {
    content: '';
    display: block;
    background-color: var(--cor-primaria);
    width: 50px;
    height: 4px;
    margin: auto;
}


main .portfolio-container {
    max-width: calc((350px * 3) + (1.5rem * 2));
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

main .portfolio-container .portfolio-img {
    width: 350px;
    border-radius: 8px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, .3);
    transition: transform .3s ease;
}

main .portfolio-container .portfolio-img:hover {
    transform: scale(1.03);
    box-shadow: 2px 3px 9px rgba(229, 57, 53, .3);
}

main #ver-mais {
    margin: 2rem;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 1em;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    color: var(--cor-branca);
    cursor: pointer;
    transition: background-color .4s ease;
}

main #ver-mais:hover {
    background-color: var(--cor-primaria-dark);
}


/* ==================== MAIN | CONTACTO ==================== */
main .contacto {
    max-width: 1100px;
    margin: 2rem auto 4rem;
}

main .contacto > h2, 
main .contacto > h3 {
    text-align: center;
}

main .contacto > h2 {
    font-size: 2rem;
    margin: 3rem 1rem 1rem;
    font-weight: 700;
}

main .contacto > h2::after {
    content: '';
    display: block;
    background-color: var(--cor-primaria);
    width: 50px;
    height: 4px;
    margin: auto;
}

main .contacto > h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

main .contacto > .contacto-container {
    display: grid;
    margin: 3rem auto;
    row-gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-around;
}

main .contacto > .contacto-container .contacto-cartao {
    border: 2px solid var(--cor-cinza);
    padding: 1.5rem 2rem;
    text-align: center;
    transition: border-color .4s;
}

main .contacto > .contacto-container .contacto-cartao .contacto-icone {
    width: 48px;
    height: 48px;
    background-color: var(--cor-secundaria);
    font-size: 1.75rem;
    color: var(--cor-cinza);
    border-radius: 50%;
    margin: 1rem auto 1.25rem;
    display: grid;
    place-content: center;
}

main .contacto > .contacto-container .contacto-cartao:hover {
    border-color: var(--cor-primaria);
}

main .contacto > .contacto-container .contacto-cartao h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

main .contacto > .contacto-container .contacto-cartao address {
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
}

.contacto-redes-sociais {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.contacto-redes-sociais-link {
    font-size: 1.5rem;
    color: var(--cor-primaria);
    transition: transform .4s ease;
}

.contacto-redes-sociais-link:hover {
    transform: translateY(-.25em);
}



/* ==================== MAIN | AGENDAR ==================== */
main .agendar {
    position: fixed;
    display: none;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, .3);
    top: 50%;
    left: 50%;
    background-color: var(--cor-branca);
    padding: 1.5rem 2.5rem;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, .3);
    z-index: 1003;
    transform: translate(-50%, -50%);
}

main .agendar .agendar-logo {
    width: 100px;
    display: block;
    margin: 0 auto 1rem;
    border-radius: 50%;
}

main .agendar h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-weight: 600;
}

main .agendar label {
    display: block;
    font-size: .9em;
    font-weight: 400;
}

main .agendar input, 
main .agendar select {
    width: 100%;
    padding: 8px 10px 8px 0;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-cinza);
    font-size: .9em;
    font-family: var(--fonte);
    transition: border-color .4s ease, color .4s ease;
}

main .agendar input:hover, 
main .agendar input:focus,
main .agendar select:hover,
main .agendar select:focus {
    border-color: var(--cor-primaria-dark);
}
main .agendar input:not(:focus), 
main .agendar select:not(:focus) {
    color: #666;
}

main .agendar input[type='submit'], main .agendar input[type='reset'] {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 500;
    box-shadow: var(--sombra);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main .agendar input[type='submit']:hover {
    background-color: var(--cor-primaria-dark);
}

main .agendar input[type='reset']:hover {
    background-color: #757575;
    color: var(--cor-branca);
}

/* ================== CONFIRMACAO DO AGENDAMENTO ==================== */
main .msg-confirmacao {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-branca);
    text-align: center;
    width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    z-index: 1004;
}

main .msg-confirmacao h2 {
    font-size: 1.2em;
}

main .msg-confirmacao .msg-texto {
    display: inline-block;
    background-color: rgba(0, 128, 0, 0.3);
    color: darkgreen;
    font-weight: 600;
    font-size: 0.95em;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 2rem;
}

main .msg-confirmacao table {
    border-collapse: collapse;
}

main .msg-confirmacao th, main .msg-confirmacao td {
    padding: 4px;
    border: none;
}

main .msg-confirmacao tr {
    width: calc(400px - 4rem);
    display: flex;
    justify-content: space-between;
}

main .msg-confirmacao #msg-fechar {
    padding: 8px 16px;
    background-color: var(--cor-destaque);
    color: var(--cor-branca);
    border: none;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color .4s ease;
}

main .msg-confirmacao #msg-fechar:hover {
    background-color: var(--cor-destaque-hover);   
}


/* ================== FOOTER ==================== */
footer {
    background-color: var(--cor-texto-principal);
    padding: 2.25rem 0;
}

footer .rodape-container {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
} 

footer hr {
    display: block;
    width: 1200px;
    margin: auto;
    margin: 2rem auto;
    border: none;
    border-bottom: .5px solid #333;
}

footer .rodape-icone {
    width: 140px;
    margin: auto;
    transform: rotate(-40deg);
}

footer .rodape-container p {
    color: #888;
    font-weight: 300;
    font-size: 0.9em;
}

footer .desenvolvedor:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .rodape-container a {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor-cinza);
    font-size: .8em;
    transition: color .3s ease;
}

footer .rodape-container a:hover {
    color: var(--cor-primaria);
}

footer .rodape-container a:nth-child(1)::after,
footer .rodape-container a:nth-child(2)::after, 
footer .rodape-container a:nth-child(3)::after {
    content: '/';
    padding: 1.2rem;
    font-weight: 300;
} 

/* ==================== RESPONSIVIDADE ==================== */
/* ----------------- celular ----------------- */
@media screen and (max-width: 450px) {
    /* ========= header ======== */
    header .parte01 .logo {
        width: 100px;
    }
    header .parte02 .logo-descricao span {
        height: 35px;
        width: 35px;
    }
    header .parte02 .logo-descricao h1 {
        font-size: .9em;
    }
    header .parte02 .logo-descricao p {
        font-size: .7em;
    }
    .botao-agendar {
        padding: 8px 10px;
        font-size: .85em;
    }

    /* ======== MAIN ======== */
    /* ======== capa ======== */
    main .capa {
        height: 600px;
        background-position: 15%;
    }
    main .capa .capa-titulo {
        font-size: 2em;
    }
    main .capa .capa-subtitulo {
        font-size: 1.7em;
        padding-bottom: 1.5rem;
    }
    main .capa .capa-texto {
        font-size: 1.1em;
        padding-bottom: 3rem;        
    }

    /* ======= portfolio =======*/
    main .portfolio-titulo {
        font-size: 1.5rem;
    }
    main #ver-mais {
        font-size: .9em;
        padding: 8px 10px;
    }

    /* ======= sobre =======*/  
    main .sobre {
        font-size: 0.9em;
    }
    main .sobre-titulo {
        font-size: 1.5em;
    }
    main .sobre-texto {
        text-align: justify;
        text-indent: 2rem;
    }

    /* ======= servicos =======*/    
    main .servicos .servicos-titulo {
        font-size: 1.5rem;
    }
    main .servicos {
        font-size: 0.9em;
    }

    /* ======= contacto =======*/
    main .contacto > h2 {
        font-size: 1.4rem;
    }
    main .contacto > h3 {
        font-size: 1.25rem; 
    }
    main .contacto > .contacto-container > .contacto-cartao {
        width: 230px;
        margin: auto;
    }
    
    /* ======== footer ======== */
    footer.rodape .rodape-container, 
    footer.rodape .rodape-container .rodape-redes-sociais {
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
    footer.rodape .rodape-icone {
        width: 70px;
    }
    footer.rodape .rodape-container p {
        font-size: .8em;
    }
    footer.rodape .rodape-container .rodape-redes-sociais a {
        font-size: 0.6em;
    }
}


/* ---------------- tablet ----------------- */
@media screen and (max-width: 768px) {
    /* =============== HEADER AND NAV =============== */
    header {
        position: relative;

    }
    nav {
        position: fixed;
        top: 0;
        max-width: 300px;
        right: -100%;
        height: 100vh;
        width: 80%;
        background-color: var(--cor-branca);
        border-radius: 5px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: start;
        justify-content: start;
        flex-flow: column wrap;
        padding: 5rem 3rem;
        gap: 1.6rem;
        z-index: 1000;
        transition: right .4s ease;
    }
    nav #botao-fechar-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.5em;
        cursor: pointer;
    }
    nav a {
        text-transform: capitalize;
        margin-bottom: 2rem;
        color: var(--cor-texto-principal);
        transition: color .3s ease;
    }
    a:hover {
        color: var(--cor-primaria);
    }
    .butao-menu-burger {
        display: block;
        cursor: pointer;
    }

    /* =============== MAIN ==================== */
    /* ------------------- capa ------------------ */
    main .capa {
        background-position: 15%;
    }

    /* ------------------- portfolio ------------------ */
    main .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ------------------- contacto ------------------ */
    main .contacto > .contacto-container {
        grid-template-columns: repeat(1, 400px);
    }

    /* ---------- footer --------------- */
    footer .rodape-icone {
        width: 100px;
    }
    footer .rodape-container p {
        align-self: start;
    }
    footer .rodape-container {
        gap: 2rem;
    }
    footer .rodape-container .rodape-redes-sociais {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    footer .rodape-container .rodape-redes-sociais a::after {
        content: '';
    }
}

@media screen and (max-width: 828px) {
    header .parte02 {
        justify-content: space-between;
    }
    nav {
        gap: 1.1rem;
    }

    /* ---------- footer --------------- */
    footer .rodape-container a {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 1300px) {
    /* ---------- footer --------- */
    footer .rodape-container, footer hr {
        width: 90%;
    }
}
